---
// ShowListing.astro

import ShowCard from "./ShowCard.astro";
import DialogWindow from "./DialogWindow.astro";

import type { Show } from "../../types/Show";

const shows: Show[] = Astro.props.shows;
---

<ul class="c-show-list">
  {
    shows.map((show: Show) => (
      <li class="c-show-list__item">
        <ShowCard {...show} />
        <DialogWindow {...show} />
      </li>
    ))
  }
</ul>

<style lang="scss">
  @import "../../scss/mq.scss";
  @import "../../scss/mixins.scss";

  .c-show-list {
    --grid-twist: 42px;

    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    justify-content: center;
    align-content: center;
    place-items: center;

    list-style: none;

    @include apply-twist(2);
  }

  .c-show-list__item {
    width: 100%;
  }

  @media screen and (min-width: $mq-tablet) {
    .c-show-list {
      --grid-twist: 42px;
    }
   
  }

  @media screen and (min-width: $mq-desktop) {
    .c-show-list {
      grid-template-columns: 1fr 1fr 1fr;
      
      @include apply-twist(3);
    }
    
  }
</style>
