---
import FloatingIcon from "../global/FloatingIcon.astro";

const { category, child } = Astro.props;

const icons = category.icons;

const hasIcons = icons !== undefined && icons.length > 0;

let iconLeft: string = "";
let iconRight: string = "";

if (hasIcons) {
  iconLeft = icons[0];
  iconRight = icons[1];
}
---

<div
  class=`c-category-title-container ${child ? 'child' : 'main'} `
>
  <h2 class=`c-category__title ${child ? 'c-category__title--child' : ''}`>
    {category.title}
  </h2>

  {
    hasIcons && (
      <FloatingIcon
        title={iconLeft}
        pathFolder="categories-icons"
        className="c-category__icon c-category__icon--left"
      />
    )
  }

  {
    hasIcons && (
      <FloatingIcon
        title={iconRight}
        pathFolder="categories-icons"
        className="c-category__icon c-category__icon--right"
      />
    )
  }
</div>

<style lang="scss" is:global>
  .c-category-title-container {
    margin: 2rem 0;
  }

  .c-category-title-container.main{
    position: relative;

    width: 100%;
    padding: 72px 250px;
    box-sizing: border-box;
    border-radius: 25px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--color-deco);
  }

  .c-category__title {
    width: fit-content;

    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: clamp(3rem, 10vw, 5rem);
    text-align: center;
    text-wrap: balance;

    color: var(--color-accent);

    margin: 0;
  }

  .c-category__title--child {
    font-size: 3rem;
  }

  .c-category__icon {
    position: absolute;
    width: 250px;
    height: 250px;
    margin: 0 1rem;

    img{
      object-fit: contain;
    }
  }

  .c-category__icon--left {
    top: -100px;
    left: 0;

    rotate: -15deg;
  }

  .c-category__icon--right{
    bottom: -100px;
    right: 0;

    rotate: 15deg;
  }

</style>
