
:root{
    --color-primary: #CCA552;
    --color-secondary: #0E1B3E;

    --stroke-size: calc(0.5px + 0.05vw);
    --stroke-size--invert: calc(var(--stroke-size) * -1);
}

body {
    font-family: "Gilroy", sans-serif;
    color: white;
    background-color: #0E1B3E;

    overflow-x: hidden;
}

.c-category-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}