---
import Layout from '../layouts/Layout.astro';
import ShowCard from '../components/show-card/ShowCard.astro';
import DialogWindow from '../components/show-card/DialogWindow.astro';

import ShowListing from '../components/ShowListing.astro';

import type { Show } from '../types/show';

import shows from '../data/shows.json';

---

<Layout title="RTL POP CORN SHOW">
  <main>
    <div class="l-container">
      <ShowListing shows={shows} />
    </div>
  </main>
</Layout>

<style>

  /* colors variables */

  :root {
    --color-accent: #EB413D;
    --color-white: #FFFAF2;

    --colors-deco: #FFEECE;

    --color-dark-900: #110806;
    --color-dark-500: #201512;
    --color-dark-300: #3B312E;
  }

  body{
    background-color: var(--color-white);

    color: var(--color-dark-500);
  }


  .l-container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1440px;
  }

</style>
