---
import Layout from "../layouts/Layout.astro";
import NavGrid from "../components/NavGrid/NavGrid.astro";
import CategorieListing from "../components/Category/CategoryListing.astro";

import "../scss/variables.scss";
import "../scss/font-face.scss";
---

<Layout title="RTL POP CORN SHOW">
  <main>
    <NavGrid />
    <CategorieListing />
  </main>
</Layout>

<style>
  
</style>