---
import Layout from "../layouts/Layout.astro";
import Categorie from "../components/Categorie.astro";

import "../scss/variables.scss";
import "../scss/font-face.scss";
---

<Layout title="RTL POP CORN SHOW">
  <main>
    <h1>test hello</h1>
    <Categorie category="exemple"/>
  </main>
</Layout>

<style></style>
