---
import Layout from '../layouts/Layout.astro';

import ShowListing from '../components/ShowListing.astro';

import shows from '../data/shows.json';


import '../scss/variables.scss';
import '../scss/font-face.scss';

---

<Layout title="RTL POP CORN SHOW">
  <main>
    <h1>test</h1>
    <div class="l-container">
      <ShowListing shows={shows} />
    </div>
  </main>
</Layout>

<style>

  h1{
    font-family: "Gilroy", sans-serif;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
  }

  body{
    background-color: var(--color-white);

    font-family: "Gilroy", sans-serif;

    color: var(--color-dark-500);
  }


  .l-container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1440px;
  }

</style>
