---
import Layout from "../layouts/Layout.astro";
import CategorieListing from "../components/CategorieListing.astro";

import "../scss/variables.scss";
import "../scss/font-face.scss";
---

<Layout title="RTL POP CORN SHOW">
  <main>
    <h1>test hello</h1>
    
    <CategorieListing />
  </main>
</Layout>

<style></style>