---
import Layout from "../layouts/Layout.astro";
import CategorieListing from "../components/categories/CategoryListing.astro";

import "../scss/variables.scss";
import "../scss/font-face.scss";
---

<Layout title="RTL POP CORN SHOW">
  <main>
    <CategorieListing />
  </main>
</Layout>

<style>
  
</style>