---
import Layout from '../layouts/Layout.astro';
import ShowCard from '../components/show-card/ShowCard.astro';
import DialogWindow from '../components/show-card/DialogWindow.astro';

import type { Show } from '../types/show';

import shows from '../data/shows.json';

---

<Layout title="RTL POP CORN SHOW">
  <main>
    <h1>Shows</h1>
    <ul>
		{shows.map((show: Show) => (
			<li>
				<ShowCard {...show} />
				<DialogWindow {...show} />
			</li>
		))}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
  }
</style>
