---
import Categorie from "./Categorie.astro";
import type {CategoryType}  from "../types/Category";

import categories from "../data/categories.json";
---

<ul class="c-category-listing">

    {
        categories.map((category: CategoryType) => (
            <li class="c-category-listing__item">
                <Categorie {category} />
            </li>
        ))
    }

</ul>