---
import type { CategoryType } from "../types/Category";
import ShowListing from "./ShowListing.astro";
import {
  getShowsByCategory,
} from "../utils/categoryUtils";

interface Props {
  category: CategoryType;
}

const { category} = Astro.props;

const shows = getShowsByCategory(category.slug);
---

<div class="l-container">
  <div class=`c-category + ${category.childrens ? "c-category--with-children" : ""}`>
    {
        <h2 class="c-category__title">{category.title}</h2>
    }
    <ShowListing shows={shows} />
  </div>
</div>
